// Define the mixin
@mixin o-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 35px;
  transition: 0.15s all ease-in-out;
  @apply font-medium text-sm md:text-base py-[5px] px-4 md:py-[7px] md:px-5 font-sans bg-white text-gray-900;

  html.u-dark-mode & {
    @apply border-white bg-gray-900 text-white;
  }

  svg {
    width: 12px;
    height: 12px;

    path {
      transition: 0.15s all ease-in-out;

      html.u-dark-mode & {
        fill: white;
        stroke: white;
      }
    }
  }

  &:hover,
  &:focus {
    color: white;
    background-color: black;

    html.u-dark-mode & {
      color: black;
      background-color: white;
    }

    svg path {
      fill: white;
      stroke: white;

      html.u-dark-mode & {
        fill: black;
      }
    }
  }
}

// Utility classes
.o-button {
  @include o-button;

  &--arrow-down {
    svg {
      transform: rotate(90deg);
    }
  }
}

.c-button-group {
  @apply flex flex-wrap gap-6;
}
