// Define the mixin
@mixin o-button {
  @apply inline-flex items-center gap-3 py-[12px] px-[24px] lg:py-[14px] lg:px-[28px] 
    font-founders uppercase tracking-widest text-xs lg:text-sm 
    font-semibold leading-4 bg-beige-base+2 text-beige-base-1 
    transition-colors duration-150 ease-in-out border-0 rounded-full;

  &--black,
  html.u-dark-mode &,
  .c-page-block--bg-black & {
    @apply border-white bg-gray-900 text-white;

    svg path {
      fill: white;
      stroke: white;
    }

    &:hover,
    &:focus {
      color: black;
      background-color: white;

      svg path {
        fill: black;
        stroke: black;
      }
    }
  }

  &--secondary {
    @apply bg-transparent border-2 border-solid text-beige-base border-beige-base;

    &:hover {
      @apply bg-beige-base text-beige-base+2;

      svg {
        path {
          @apply fill-beige-base+2;
        }
      }
    }
  }

  svg {
    @apply w-3 md:w-4 rotate-180;

    path {
      @apply fill-beige-base;
    }
  }
}

// Utility classes
.o-button {
  @include o-button;

  &--arrow-down {
    svg {
      transform: rotate(90deg);
    }
  }
}

.c-button-group {
  @apply flex flex-wrap gap-6;
}
