.c-dropdown {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
  padding: 0;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.15s all ease-in-out;
  overflow: hidden;

  @apply border border-gray-900;

  &:hover, &:focus {
    @apply border-gray-900 bg-gray-900;
    outline: none;
    color: #fff;

    .c-dropdown__arrow {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  .c-select {
    @apply py-[5px] px-4 md:py-[7px] md:px-5 bg-transparent;
  }

  &--sort-by {
    width: auto;
    border-radius: 35px;
    font-size: 14px;

    .c-select {
      @apply py-[5px] pl-4 md:pr-[55px] md:py-[7px] md:pl-5;
    }

    .c-dropdown__arrow {
      right: 20px;
    }
  }
}

.c-select {
  display: block;
  width: 100%;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: 0;
  padding: 0;

  @apply font-medium text-sm md:text-base;
}

.c-dropdown__arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}