.c-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 0;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.15s all ease-in-out;
  overflow: hidden;

  &:hover, &:focus {
    border-color: #000;
    outline: none;
    background-color: #000;
    color: #fff;

    .c-dropdown__arrow {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  .c-select {
    padding: 7px 15px;
    background-color: transparent;
  }

  &--sort-by {
    width: auto;
    border-radius: 35px;
    font-size: 14px;

    .c-select {
      padding: 7px 55px 7px 20px;
    }

    .c-dropdown__arrow {
      right: 20px;
    }
  }
}

.c-select {
  display: block;
  width: 100%;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: 0;
  padding: 0;
}

.c-dropdown__arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}