@use './_button' as button;

.c-form-group {
  @apply space-y-4;
}

.c-radio-label {
  @apply flex font-medium items-center gap-4 cursor-pointer;
}

.c-radio-input {
  @apply accent-gray-900 w-5 h-5 border-gray-900 rounded-full text-gray-900 focus:ring-gray-900 disabled:opacity-50 disabled:pointer-events-none checked:bg-gray-900;
}

.c-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  @apply font-medium;

  &__input[type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
}

.c-checkbox__checkmark-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
}

.c-checkbox__checkmark-icon {
  position: absolute;
  width: 12px;
  height: 10px;
  display: none;
}

.c-checkbox__input:checked + .c-checkbox__checkmark-icon-container {
  background-color: black;
}

.c-checkbox__input:checked + .c-checkbox__checkmark-icon-container svg {
  display: block;
}

.c-checkbox__checkmark-icon-container svg path {
  stroke: white;
}

// Formie classes
.fui-btn.fui-submit {
  @include button.o-button;
}

.fui-label {
  @apply font-sans mb-3;
}

.fui-label-above-input {
  .fui-label {
    @apply mb-3;
  }
}

.fui-input {
  @apply border-gray-900 rounded-[5px] font-serif;
}

.fui-row.fui-page-row {
  @apply mb-7;

  &:not(.fui-row-empty):not(:last-child) {
    @apply mb-7;
  }
}

.fui-btn-wrapper {
  @apply p-0;
}

