{% extends '_blocks/_base/block.twig' %}
{% import '_components/atoms/image.twig' as img %}

{% block blockContent %}
  {# <pre style="font-size: 12px;">
    {{ dump(block.getFieldValues()) }}
  </pre> #}

  {% set layout = block.splitMediaBlockLayout.value %}
  {% set layoutClass = layout %}
  {% set imageIsFirst = not block.splitMediaBlockMobileLayout %}

  <div class="c-split-media c-split-media--{{ layoutClass }}">

    {# Image Block #}
    <div class="c-split-media__image{{ imageIsFirst == true ? ' first-on-mobile' : '' }}">
      {% if block.splitMediaBlockImage|length %}
        {{ img.renderImage(block.splitMediaBlockImage[0], 800, 1600, block.splitMediaBlockImage[0].title) }}
      {% else %}
        <p>No image found.</p>
      {% endif %}
    </div>

    <div class="c-split-media__content">
      {% include '_components/card/card.twig' with {
        card: {
          classes: 'c-card--mobile-flat h-full',
          kicker: block.cardKicker,
          heading: block.cardHeading,
          body: block.cardBody,
          link: {
            url: block.cardLink.url,
            text: block.cardLink.text
          }
        }
      } %}
    </div>

  </div>
{% endblock %}
