{% extends '_base/_basePageBlock.twig' %}
{% import '_components/atoms/image.twig' as img %}

{% set kickerText     = block.contentKicker ?? null %}
{% set kickerClasses  = block.contentKickerClasses ?? null %}
{% set headingText    = block.contentHeading ?? null %}
{% set link           = block.contentLink ?? null %}
{% set linkClasses    = block.contentLinkClasses ?? null %}
{% set images         = block.images ?? [] %}
{% set cols           = block.cols ?? 4 %}
{% set transform      = block.transform ?? 'aspectRatio4x5' %}
{% set imageField     = block.imageField ?? 'featuredImage' %}

{% block pageBlockContent %}
  {% if images|length %}
    <div class="space-y-6">
      {% include '_components/molecules/section-heading.twig' with {
        sectionHeading: {
          kickerText: kickerText,
          kickerClasses: kickerClasses,
          headingText: headingText,
          link: link,
          linkClasses: linkClasses
        }
      } %}

      <div
        class="grid gap-3 md:gap-4 [grid-template-columns:repeat(var(--cols),minmax(0,1fr))]"
        style="--cols: {{ cols }}"
      >
        {% for image in images %}
          {% set hasField = attribute(image, imageField, [], 'any', true) %}
          {% if hasField %}
            {# Entry with an image field #}
            {% set asset = attribute(image, imageField).one() %}
            {% set href  = image.url ?? null %}
            {% set title = image.title ?? '' %}
          {% elseif image.kind is defined %}
            {# Asset directly #}
            {% set asset = image %}
            {% set href  = image.url ?? null %}
            {% set title = image.title ?? '' %}
          {% else %}
            {% set asset = null %}
          {% endif %}

          {% if asset %}
            <div class="col-span-1">
              {% include '_components/molecules/photo-block.twig' with {
                photo: {
                  classes: 'c-photo-block',
                  image: asset,
                  url: href,
                  title: title,
                  caption: title,
                  transform: transform
                }
              } %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

    </div>
  {% endif %}
{% endblock %}