{% extends '_base/_basePageSection.twig' %}

{% block pageSectionContent %}
  <div class="c-featured-grid__top grid grid-cols-2 md:grid-cols-16 gap-4">
    <div class="c-featured-grid__first-col col-span-4">
      <div class="c-featured-grid__content w-[80%]">
        {% include '_components/atoms/heading.twig' with {
          "heading": {
            "classes": 'o-heading--h3',
            "tag": 'h3',
            "underline": false,
            "text": block.title
          }
        } %}
        {% if block.featuredWorksBlockContent %}
          <div class="mt-5">
            <div class="font-serif leading-5">{{ block.featuredWorksBlockContent|raw }}</div>
          </div>
        {% endif %}
        <div class="mt-6">
          {% include '_components/atoms/button.twig' with {
            "button": {
              "url": block.featuredWorksLink.url,
              "text": block.featuredWorksLink.text
            }
          } %}
        </div>
      </div>
      <!-- First Image -->
      {% set firstImage = block.featuredWorksPhotos[0] %}
      {% include '_components/molecules/photo-block.twig' with {
        "photo": {
          "image": firstImage.featuredImage[0],
          "url": firstImage.url,
          "title": firstImage.title,
          "caption": firstImage.location
        }
      } %}
    </div>
    <div class="c-featured-grid__second-col col-span-8">
      <!-- Second Image -->
      {% set secondImage = block.featuredWorksPhotos[1] %}
      {% include '_components/molecules/photo-block.twig' with {
        "photo": {
          "image": secondImage.featuredImage[0],
          "url": secondImage.url,
          "title": secondImage.title,
          "caption": secondImage.location
        }
      } %}
    </div>
    <div class="c-featured-grid__third-col col-span-4">
      <!-- Third Image -->
      {% set thirdImage = block.featuredWorksPhotos[2] %}
      {% include '_components/molecules/photo-block.twig' with {
        "photo": {
          "image": thirdImage.featuredImage[0],
          "url": thirdImage.url,
          "title": thirdImage.title,
          "caption": thirdImage.location
        }
      } %}

      <!-- Fourth Image -->
      {% set fourthImage = block.featuredWorksPhotos[3] %}
      {% include '_components/molecules/photo-block.twig' with {
        "photo": {
          "image": fourthImage.featuredImage[0],
          "url": fourthImage.url,
          "title": fourthImage.title,
          "caption": fourthImage.location
        }
      } %}
    </div>
  </div>

  <div class="c-featured-grid__bottom grid grid-cols-16 gap-4">
    <div class="col-span-9">
      <!-- Fifth Image -->
      {% set fifthImage = block.featuredWorksPhotos[4] %}
      {% include '_components/molecules/photo-block.twig' with {
        "photo": {
          "image": fifthImage.featuredImage[0],
          "url": fifthImage.url,
          "title": fifthImage.title,
          "caption": fifthImage.location
        }
      } %}
    </div>
    <div class="col-span-9">
      <!-- Sixth Image -->
      {% set sixthImage = block.featuredWorksPhotos[5] %}
      {% include '_components/molecules/photo-block.twig' with {
        "photo": {
          "image": sixthImage.featuredImage[0],
          "url": sixthImage.url,
          "title": sixthImage.title,
          "caption": sixthImage.location
        }
      } %}
    </div>
  </div>
{% endblock %}