{% import '_components/atoms/image.twig' as img %}

<section class="c-hero-container container">
  <div class="c-hero grid grid-cols-16 gap-4">

    {# First Image (8 columns wide) #}
    <div class="c-hero__first-col col-span-8">
      {% set firstImage = block.heroBlockPhotos[0] %}
      {% include '_components/molecules/photo-block.twig' with {
        "photo": {
          "image": firstImage.featuredImage[0],
          "url": firstImage.url,
          "title": firstImage.title,
          "caption": firstImage.location
        }
      } %}

      <div class="c-hero__content flex flex-col justify-center">
        {% set titleWords = block.title|split(' ') %}
        <h1 class="text-6xl font-bold leading-none mb-20">
          {% for word in titleWords %}
            {% if loop.last %}
              <span class="text-red">{{ word|raw }}</span>
            {% else %}
              {{ word|raw }}
            {% endif %}
          {% endfor %}
        </h1>
        <div class="c-hero__tagline flex items-end gap-6 pt-4 border-t border-lightgray">
          <p class="font-sans text-3xl leading-tight">{{ block.heroBlockTagline|raw }}</p>
          <a href="#" class="text-black hover:text-red-500">
            {% include '_components/atoms/icons/icon-down-arrow-big.svg' %}
          </a>
        </div>
      </div>
    </div>

    {# Second Image (5 columns wide) #}
    <div class="c-hero__second-col col-span-4">
      {% set secondImage = block.heroBlockPhotos[1] %}
      {% include '_components/molecules/photo-block.twig' with {
        "photo": {
          "image": secondImage.featuredImage[0],
          "url": secondImage.url,
          "title": secondImage.title,
          "caption": secondImage.location
        }
      } %}
    </div>

    {# Two stacked images (5 columns wide) #}
    <div class="c-hero__third-col col-span-4 space-y-5">
      {% set thirdImage = block.heroBlockPhotos[2] %}
      {% include '_components/molecules/photo-block.twig' with {
        "photo": {
          "image": thirdImage.featuredImage[0],
          "url": thirdImage.url,
          "title": thirdImage.title,
          "caption": thirdImage.location
        }
      } %}

      {% set fourthImage = block.heroBlockPhotos[3] %}
      {% include '_components/molecules/photo-block.twig' with {
        "photo": {
          "image": fourthImage.featuredImage[0],
          "url": fourthImage.url,
          "title": fourthImage.title,
          "caption": fourthImage.location
        }
      } %}
    </div>

  </div>
</section>
