{% extends '_base/_basePageBlock.twig' %}
{% import '_components/atoms/image.twig' as img %}

{% block pageBlockContent %}
  {# <pre style="font-size: 12px;">
    {{ dump(block.getFieldValues()) }}
  </pre> #}

  {% set layout = block.splitMediaBlockLayout.value %}
  {% set layoutClass = layout %}

  <div class="c-split-media c-split-media--{{ layoutClass }}">

    {# Image Block #}
    <div class="c-split-media__image">
      {% if block.splitMediaBlockImage|length %}
        {{ img.renderImage(block.splitMediaBlockImage[0], 800, 1600, block.splitMediaBlockImage[0].title) }}
      {% else %}
        <p>No image found.</p>
      {% endif %}
    </div>

    <div class="c-split-media__content">
      {% include '_components/molecules/card.twig' with {
        card: {
          kicker: block.cardKicker,
          heading: block.cardHeading,
          body: block.cardBody,
          link: {
            url: block.cardLink.url,
            text: block.cardLink.text
          }
        }
      } %}
    </div>

  </div>
{% endblock %}
