{% extends '_base/_basePageBlock.twig' %}
{% block pageBlockContent %}
  {% import '_components/atoms/image.twig' as img %}
  {% set layout = block.pageGalleryLayout ?? 'layout1' %}

  {% set gridClass =
    layout == 'layout1' ? 'grid-cols-2' :
    layout == 'layout2' ? 'grid-cols-3' :
    layout == 'layout3' ? 'grid-cols-2 md:grid-cols-4' :
    layout == 'layout4' ? 'grid-cols-2' :
    'grid-cols-2' %}

  <div class="c-gallery">
    <div class="c-gallery__grid grid grid-cols-1 {{ gridClass }} gap-4 md:gap-5">
      {% for image in block.pageGalleryImages %}
        {% set colSpan = layout == 'layout4' and loop.first ? 'col-span-2' : 'col-span-1' %}
        {% set showLightbox = block.pageGalleryLightboxToggle %}
        <div class="c-gallery__image {{ colSpan }}">
          {% if showLightbox %}
            {% include '_components/molecules/photo-block.twig' with {
              "photo": {
                "classes": "c-photo-block--gallery has-lightbox-gallery",
                "image": image,
                "url": image.url,
                "title": image.title,
                "caption": 'Expand',
                "target": "_blank",
                "icon": "expand",
                "attrs": {
                  "data-pswp-width": image.width ?? 1600,
                  "data-pswp-height": image.height ?? 1067,
                  
                }
              }
            } %}
          {% else %}
            {{ img.renderImage(image, 800, 1600, image.title) }}
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="c-gallery__caption">
      {% include '_components/atoms/rich-text.twig' with {
        "richText": {
          "classes": '',
          "content": block.pageGalleryCaption
        }
      } %}
    </div>
  </div>
{% endblock %}
