{% extends '_base/_basePageBlock.twig' %}
{% block pageBlockContent %}
  {% include '_components/atoms/heading.twig' with {
    "heading": { 
      "classes": 'o-heading--h2',
      "tag": 'h2',
      "text": block.pageHeading
    }
  } %}
  {% include '_components/atoms/rich-text.twig' with {
    "richText": {
      "content": block.pageContent
    }
  } %}
  {% if block.pageButtons|length > 0 %}
    <div class="flex flex-wrap gap-5">
      {% for button in block.pageButtons %}
        {% include '_components/atoms/button.twig' with {
          "button": {
            "url": button.url,
            "text": button.text,
            "target": button.target
          }
        } %}
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}