.c-featured-grid {
  height: 534px;
}

.c-featured-grid__first-col {
  display: flex;
  flex-direction: column;
  height: 100%;

  .c-photo-block {
    margin-top: auto;

    img {
      height: 257px;
    }
  }
}

.c-featured-grid__second-col {
  display: flex;
  flex-direction: column;
  height: 100%;

  img {
    height: 534px;
  }
}

.c-featured-grid__third-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    height: calc(267px - 0.625rem);
  }
}

.c-featured-grid__bottom {
  img {
    height: 305px;
  }
}