.c-header {
  @apply relative z-20 h-[55px] md:h-[63px] w-full bg-transparent;

  .hero-is-full-bleed & {
    @apply bg-gray-900/30 backdrop-blur-[10px];
  }

  &__inner {
    @apply h-full flex items-center justify-between;
  }

  &::after {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 80;
    
    @apply bg-gray-200;

    .hero-is-full-bleed & {
      @apply bg-gray-400/50;
    }
  }

  html.u-dark-mode & {
    @apply bg-gray-900 border-gray-800;
  }

  &__mobile-wrapper {
    @apply h-full relative md:space-x-8 md:space-x-0 flex justify-end items-center;
  }
  
  &__icons {
    @apply md:w-[65px] h-full flex items-center;

    button {
      @apply h-full p-4 md:p-5 md:bg-gray-900;

      svg path {
        @apply md:stroke-white;
      }
    }

    html.u-dark-mode & {
      svg path {
        stroke: white;
      }
    }
  }
}

.c-mobile-menu {
  @apply flex justify-center items-center md:block h-full md:h-auto;
}

.c-hamburger {
  @apply relative z-[120] h-full;
}

// Hamburger Overrides
.hamburger {
  @apply border-l border-solid border-gray-200 p-4;
  
  display: flex;
  align-items: center;

  &:hover,
  &.is-active {
    opacity: 1;
  }

  &.is-active {
    &:hover {
      opacity: 1;
    }
  }

  &-inner,
  &-inner::before,
  &-inner::after {
    width: 30px;
    height: 2px;
    border-radius: 0;

    html.u-dark-mode & {
      background-color: white;
    }
  }

  &-inner {
    margin-top: 0;
    &::before {
      top: -8px;
    }
    &::after {
      bottom: -8px;
    }
  }
}

.hamburger-box {
  height: 20px;
  width: 30px;
}

body {
  &.mobile-menu-is-active {
    overflow-y: hidden;
    .c-mobile-nav {
      opacity: 1;
      pointer-events: auto;

      &::before {
        opacity: 1;
        pointer-events: auto;
      }
    }

    .c-mobile-nav__inner {
      opacity: 1;
      pointer-events: auto;
    }

    .c-logo {
      h1 {
        color: white;
      }

      &__j {
        fill: white;
      }
    }

    .hamburger {
      &.is-active {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background-color: white;
        }
      }
    }
  }  
}

.c-mobile-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 55;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    transition: 0.15s opacity linear;
    opacity: 0;
    pointer-events: none;
    @apply bg-gray-900;
  }

  &__inner {
    position: relative;
    z-index: 90;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;
    transition-delay: 0.1s;
    @apply mt-[63px] pt-5;
  }

  .o-subheading {
    @apply text-gray-500;
  }
}

