.c-header {
  height: 63px;
  position: relative;
  @apply w-full py-4 bg-white;

  &::after {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 80;
    
    @apply bg-lightGray;
  }

  html.u-dark-mode & {
    @apply bg-black border-offBlack;
  }

  &__mobile-wrapper {
    @apply relative;
  }
  
  &__icons {
    @apply flex items-center;

    html.u-dark-mode & {
      svg path {
        stroke: white;
      }
    }
  }
}

.c-logo {
  min-width: 63px;
  @apply relative z-[70];

  html.u-dark-mode & {
    &__j {
      fill: white;
    }
  }
}

.c-hamburger {
  position: relative;
  z-index: 60;
}

// Hamburger Overrides
.hamburger {
  padding: 0;
  display: flex;
  align-items: center;

  &:hover,
  &.is-active {
    opacity: 1;
  }

  &.is-active {
    &:hover {
      opacity: 1;
    }
  }

  &-inner,
  &-inner::before,
  &-inner::after {
    width: 30px;
    height: 2px;
    border-radius: 0;
  }

  &-inner {
    margin-top: 0;
    &::before {
      top: -8px;
    }
    &::after {
      bottom: -8px;
    }
  }
}

.hamburger-box {
  height: 20px;
  width: 30px;
}

body {
  &.mobile-menu-is-active {
    overflow-y: hidden;
    .c-mobile-nav {
      opacity: 1;
      pointer-events: auto;

      &::before {
        opacity: 1;
        pointer-events: auto;
      }
    }

    .c-mobile-nav__inner {
      opacity: 1;
      pointer-events: auto;
    }

    .c-logo {
      h1 {
        color: white;
      }

      &__j {
        fill: white;
      }
    }

    .hamburger {
      &.is-active {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background-color: white;
        }
      }
    }
  }  
}

.c-mobile-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 50;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    transition: 0.15s opacity linear;
    opacity: 0;
    pointer-events: none;
    @apply bg-black;
  }

  &__inner {
    position: relative;
    z-index: 60;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;
    transition-delay: 0.1s;
    @apply mt-[63px] pt-5;
  }

  .o-subheading {
    @apply text-darkGrayOpposite;
  }
}

