.c-gallery {
}

.c-gallery__caption {
  @apply font-founders text-gray-400 mt-2 xl:mt-3;

  .o-rte, p {
    @apply font-founders leading-tight text-base xl:text-lg;
  }
}

.c-gallery__caption--photo {
  @apply text-gray-300;
}

.pswp--custom-gallery {
  .pswp__bg {
    opacity: 0.9;
  }

  .pswp__top-bar {
    position: relative;
    transition: 0.15s all ease-in-out;
  }

  .pswp__counter {
    text-shadow: none;

    @apply text-gray-200 text-xl font-bold;
  }

  .pswp__button--zoom,
  .pswp__button--close {
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .pswp__button--zoom {
    top: 20px;
    right: 40px;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  .pswp__button--close {
    margin-right: 0;
    right: 20px;
    top: 20px;

    svg {
      path {
        stroke: #fff;
      }
    }
  }

  .pswp__button--arrow {
    width: 48px;
    height: 48px;
    transform: translateY(-50%);
    margin-top: 0;

    &:hover {
      svg {
        circle {
          @apply stroke-gray-900;
          fill: #fff;
        }
        path {
          @apply fill-gray-900;
        }
      }
    }
  }

  .pswp__button--arrow--prev {
    transform: translateY(-50%) rotate(180deg);
    left: 20px;
  }

  .pswp__button--arrow--next {
    right: 20px;
  }

  .pswp__button--arrow--prev,
  .pswp__button--arrow--next {
    svg {
      circle {
        stroke: #fff;
        transition: 0.15s all ease-in-out;
      }
      path {
        fill: #fff;
        transition: 0.15s all ease-in-out;
      }
    }
  }
}

.pswp--custom-gallery.pswp--zoomed-in {
  .pswp__top-bar {
    background-color: rgba(0,0,0, 0.5);
  }
}


