.c-slider-section {
  position: relative;
}

.c-slider {
  position: relative;
  margin: 0 auto;
  overflow: visible;

  .flickity-viewport {
    overflow: visible !important;
  }

  .flickity-slider {
    display: flex;
  }

  .flickity-button {
    position: relative;
    margin-top: 1.25rem;

    &:focus {
      box-shadow: none;
    }

    &:active {
      opacity: 1;
    }
  }

  .flickity-prev-next-button {
    @apply w-[36px] h-[36px] md:w-[48px] md:h-[48px]
    transform-none absolute left-auto top-[calc(100%+16px)] sm:top-auto bottom-0 m-0 z-[100] bg-transparent;

    svg {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: background-image 0.2s linear;
    }

    &.previous {
      @apply rotate-[180deg] right-[52px] sm:right-auto left-auto sm:left-[-112px] md:left-[-136px];

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23.5' stroke='white'/%3E%3Cpath d='M20.8397 17.3074C20.6957 17.4515 20.6535 17.6685 20.733 17.8561C20.8125 18.0436 20.9979 18.1642 21.2016 18.1609L29.894 18.1609L17.3125 30.7424C17.1832 30.8681 17.1316 31.0537 17.1774 31.2281C17.2233 31.4025 17.3595 31.5387 17.5339 31.5846C17.7083 31.6304 17.8939 31.5788 18.0196 31.4495L30.6011 18.868V27.5604C30.5974 27.7414 30.6919 27.9103 30.8481 28.0019C31.0043 28.0935 31.1978 28.0935 31.354 28.0019C31.5102 27.9103 31.6047 27.7414 31.601 27.5604L31.601 17.6609C31.6009 17.3848 31.3771 17.161 31.1011 17.161L21.2016 17.161C21.0661 17.1587 20.9355 17.2116 20.8397 17.3074Z' fill='white'/%3E%3C/svg%3E");
      }

      &:hover {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23.5' stroke='white'/%3E%3Cpath d='M20.8397 17.3074C20.6957 17.4515 20.6535 17.6685 20.733 17.8561C20.8125 18.0436 20.9979 18.1642 21.2016 18.1609L29.894 18.1609L17.3125 30.7424C17.1832 30.8681 17.1316 31.0537 17.1774 31.2281C17.2233 31.4025 17.3595 31.5387 17.5339 31.5846C17.7083 31.6304 17.8939 31.5788 18.0196 31.4495L30.6011 18.868V27.5604C30.5974 27.7414 30.6919 27.9103 30.8481 28.0019C31.0043 28.0935 31.1978 28.0935 31.354 28.0019C31.5102 27.9103 31.6047 27.7414 31.601 27.5604L31.601 17.6609C31.6009 17.3848 31.3771 17.161 31.1011 17.161L21.2016 17.161C21.0661 17.1587 20.9355 17.2116 20.8397 17.3074Z' fill='black'/%3E%3C/svg%3E");
        }
      }
    }

    &.next {
      @apply right-0 left-auto sm:left-[-56px] md:left-[-68px];

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23.5' stroke='white'/%3E%3Cpath d='M20.8397 17.3074C20.6957 17.4515 20.6535 17.6685 20.733 17.8561C20.8125 18.0436 20.9979 18.1642 21.2016 18.1609L29.894 18.1609L17.3125 30.7424C17.1832 30.8681 17.1316 31.0537 17.1774 31.2281C17.2233 31.4025 17.3595 31.5387 17.5339 31.5846C17.7083 31.6304 17.8939 31.5788 18.0196 31.4495L30.6011 18.868V27.5604C30.5974 27.7414 30.6919 27.9103 30.8481 28.0019C31.0043 28.0935 31.1978 28.0935 31.354 28.0019C31.5102 27.9103 31.6047 27.7414 31.601 27.5604L31.601 17.6609C31.6009 17.3848 31.3771 17.161 31.1011 17.161L21.2016 17.161C21.0661 17.1587 20.9355 17.2116 20.8397 17.3074Z' fill='white'/%3E%3C/svg%3E");
      }

      &:hover {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23.5' stroke='white'/%3E%3Cpath d='M20.8397 17.3074C20.6957 17.4515 20.6535 17.6685 20.733 17.8561C20.8125 18.0436 20.9979 18.1642 21.2016 18.1609L29.894 18.1609L17.3125 30.7424C17.1832 30.8681 17.1316 31.0537 17.1774 31.2281C17.2233 31.4025 17.3595 31.5387 17.5339 31.5846C17.7083 31.6304 17.8939 31.5788 18.0196 31.4495L30.6011 18.868V27.5604C30.5974 27.7414 30.6919 27.9103 30.8481 28.0019C31.0043 28.0935 31.1978 28.0935 31.354 28.0019C31.5102 27.9103 31.6047 27.7414 31.601 27.5604L31.601 17.6609C31.6009 17.3848 31.3771 17.161 31.1011 17.161L21.2016 17.161C21.0661 17.1587 20.9355 17.2116 20.8397 17.3074Z' fill='black'/%3E%3C/svg%3E");
        }
      }
    }
  }
}

.c-slide {
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;

  @apply w-[250px] md:w-[360px] lg:w-[400px] mr-3 md:mr-5;

  &.is-selected {
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.c-slide-content {
  display: flex;
  position: relative;

  @apply text-gray-100;
}

.c-slide-content__inner {
  @apply flex flex-wrap justify-end w-full sm:w-auto;
}

.c-slide-content-container {
  @apply relative z-10 order-2 sm:order-1 sm:w-[250px] sm:w-auto sm:w-full;

  &::before {
    content: '';
    width: 100vw;
    margin-left: -100vw;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &::after {
    content: '';
    background-color: white;
    width: 1.25rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: -1.25rem;
    bottom: 0;
  }
}

.c-slider-container {
  @apply order-1 md:order-2;

  &::before {
    content: '';
    @apply z-50 absolute top-0 right-auto bottom-0 w-screen -ml-[100vw] bg-white block sm:hidden;
  }
}

.block--bg-black,
html.u-dark-mode {
  .c-slider-container {
    &::before {
      @apply bg-gray-900;
    }
  }

  .c-slide-content-container {
    &::before {
      @apply bg-gray-900;
    }

    &::after {
      @apply bg-gray-900;
    }
  }
}

.block--bg-beige,
.block--bg-white {
  .c-slider {
    .flickity-prev-next-button {
      &.previous {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23.5' stroke='black'/%3E%3Cpath d='M20.8397 17.3074C20.6957 17.4515 20.6535 17.6685 20.733 17.8561C20.8125 18.0436 20.9979 18.1642 21.2016 18.1609L29.894 18.1609L17.3125 30.7424C17.1832 30.8681 17.1316 31.0537 17.1774 31.2281C17.2233 31.4025 17.3595 31.5387 17.5339 31.5846C17.7083 31.6304 17.8939 31.5788 18.0196 31.4495L30.6011 18.868V27.5604C30.5974 27.7414 30.6919 27.9103 30.8481 28.0019C31.0043 28.0935 31.1978 28.0935 31.354 28.0019C31.5102 27.9103 31.6047 27.7414 31.601 27.5604L31.601 17.6609C31.6009 17.3848 31.3771 17.161 31.1011 17.161L21.2016 17.161C21.0661 17.1587 20.9355 17.2116 20.8397 17.3074Z' fill='black'/%3E%3C/svg%3E");
        }

        &:hover {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23.5' stroke='black'/%3E%3Cpath d='M20.8397 17.3074C20.6957 17.4515 20.6535 17.6685 20.733 17.8561C20.8125 18.0436 20.9979 18.1642 21.2016 18.1609L29.894 18.1609L17.3125 30.7424C17.1832 30.8681 17.1316 31.0537 17.1774 31.2281C17.2233 31.4025 17.3595 31.5387 17.5339 31.5846C17.7083 31.6304 17.8939 31.5788 18.0196 31.4495L30.6011 18.868V27.5604C30.5974 27.7414 30.6919 27.9103 30.8481 28.0019C31.0043 28.0935 31.1978 28.0935 31.354 28.0019C31.5102 27.9103 31.6047 27.7414 31.601 27.5604L31.601 17.6609C31.6009 17.3848 31.3771 17.161 31.1011 17.161L21.2016 17.161C21.0661 17.1587 20.9355 17.2116 20.8397 17.3074Z' fill='white'/%3E%3C/svg%3E");
          }
        }
      }

      &.next {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23.5' stroke='black'/%3E%3Cpath d='M20.8397 17.3074C20.6957 17.4515 20.6535 17.6685 20.733 17.8561C20.8125 18.0436 20.9979 18.1642 21.2016 18.1609L29.894 18.1609L17.3125 30.7424C17.1832 30.8681 17.1316 31.0537 17.1774 31.2281C17.2233 31.4025 17.3595 31.5387 17.5339 31.5846C17.7083 31.6304 17.8939 31.5788 18.0196 31.4495L30.6011 18.868V27.5604C30.5974 27.7414 30.6919 27.9103 30.8481 28.0019C31.0043 28.0935 31.1978 28.0935 31.354 28.0019C31.5102 27.9103 31.6047 27.7414 31.601 27.5604L31.601 17.6609C31.6009 17.3848 31.3771 17.161 31.1011 17.161L21.2016 17.161C21.0661 17.1587 20.9355 17.2116 20.8397 17.3074Z' fill='black'/%3E%3C/svg%3E");
        }

        &:hover {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23.5' stroke='black'/%3E%3Cpath d='M20.8397 17.3074C20.6957 17.4515 20.6535 17.6685 20.733 17.8561C20.8125 18.0436 20.9979 18.1642 21.2016 18.1609L29.894 18.1609L17.3125 30.7424C17.1832 30.8681 17.1316 31.0537 17.1774 31.2281C17.2233 31.4025 17.3595 31.5387 17.5339 31.5846C17.7083 31.6304 17.8939 31.5788 18.0196 31.4495L30.6011 18.868V27.5604C30.5974 27.7414 30.6919 27.9103 30.8481 28.0019C31.0043 28.0935 31.1978 28.0935 31.354 28.0019C31.5102 27.9103 31.6047 27.7414 31.601 27.5604L31.601 17.6609C31.6009 17.3848 31.3771 17.161 31.1011 17.161L21.2016 17.161C21.0661 17.1587 20.9355 17.2116 20.8397 17.3074Z' fill='white'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}

.block--bg-beige {
  .c-slider-container {
    &::before {
      @apply bg-beige-100;
    }
  }

  .c-slide-content-container {
    &::before {
      @apply bg-beige-100;
    }

    &::after {
      @apply bg-beige-100;
    }
  }

  .c-slide-content {
    @apply text-gray-900;
  }
}

.block--bg-white {
  .c-slider-container {
    &::before {
      @apply bg-white;
    }
  }

  .c-slide-content-container {
    &::before {
      @apply bg-white;
    }

    &::after {
      @apply bg-white;
    }
  }

  .c-slide-content {
    @apply text-gray-900;
  }
}

.c-slide-title {
  @apply w-[275px] sm:w-auto;
}
