{% extends '_layouts/global.twig' %}
{% import '_components/atoms/image.twig' as img %}

{% block site %}
	
	{% include '_components/molecules/breadcrumb-bar.twig' with {
		breadcrumbBar: {
			showBackButton: true,
			backTarget: '/portfolio',
			backText: 'Portfolio',
			refMatch: '/portfolio',
			backIcon: 'left-arrow',
			swapTextOnScroll: true,
			photoTitle: entry.title,
			showProgressBar: true,
			items: [
				entry.state.one() ? {
					text: entry.state.one().title,
					tag: 'span',
					parentClasses: 'hidden sm:block',
					classes: 'o-kicker--swapped-text'
				} : null
			]|filter
		}
	} %}


	<section class="c-photo-page c-page container">
		<div class="c-photo-page-row space-y-12">
			
			<div class="c-photo-page-content-grid grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-16 o-page-gap">
				<div class="c-photo-page-photo-col sm:col-span-1 lg:col-span-8">
					<div class="c-photo-page-photo">
						{% if entry.featuredImage.one() %}
							{% include '_components/molecules/photo-block.twig' with {
								"photo": {
									"classes": "c-photo-block--gallery has-lightbox-gallery",
									"image": entry.featuredImage.one(),
									"url": entry.featuredImage.one().url,
									"title": entry.featuredImage.one().title,
									"transform": 'small',
									"caption": 'Expand',
									"target": "_blank",
									"icon": "expand",
									"attrs": {
										"data-pswp-width": entry.featuredImage.one().width ?? 1600,
										"data-pswp-height": entry.featuredImage.one().height ?? 1067,
										
									}
								}
							} %}
						{% endif %}
						<div class="c-gallery__caption c-gallery__caption--photo text-right flex justify-end">
							{% include '_components/molecules/kicker.twig' with {
								"kicker": {
									"text": 'Share:',
									"classes": 'mr-4',
								}
							} %}
							{% include '_components/molecules/icon-group.twig' with {
								iconGroup: {
									classes: 'c-icon-group--share',
									icons: [
										{
											name: 'facebook',
											tag: 'a',
											url: 'https://www.facebook.com/sharer/sharer.php?u=' ~ craft.app.request.url|url_encode,
											target: '_blank',
											classes: 'h-4'
										},
										{
											name: 'pinterest',
											tag: 'a',
											url: 'https://pinterest.com/pin/create/button/?url=' ~ craft.app.request.url,
											target: '_blank',
											classes: 'h-4'
										},
										{
											name: 'x',
											tag: 'a',
											url: 'https://twitter.com/intent/tweet?text=Check this out: ' ~ craft.app.request.url,
											target: '_blank',
											classes: 'h-4'
										}
									]
								}
							} %}
						</div>
					</div>
				</div>
				
				<div class="c-photo-page-content sm:col-span-1 lg:col-span-8 space-y-15">
					{% include '_components/atoms/heading.twig' with {
						"heading": {
							"text": entry.title,
							"attrs": {
								'data-photo-title-trigger': true
							}
						}
					} %}
					{% if entry.overview %}
						<div class="c-page-section c-photo-intro u-drop-cap">
							{{ entry.overview }}
						</div>
					{% endif %}

					{% include '_components/molecules/feature-boxes.twig' with {
						boxes: 3,
						featureBoxes: [
							{
								title: 'Date Taken',
								icon: 'calendar',
								description: entry.dateTaken ? '<div class="test">' ~ entry.dateTaken|date('F j, Y') ~ '</div>' : ''
							},
							{
								title: 'Location',
								icon: 'location',
								description: entry.location
							},
							{
								title: 'Tags',
								icon: 'tags',
								description: [
									entry.state.one() ? entry.state.one().title : '',
									entry.season.one() ? entry.season.one().title : '',
									entry.genre.one() ? entry.genre.one().title : ''
								]|filter(v => v != '')|join(', ')
							}
						]
					} %}

					{% set relatedEntries = craft.entries()
						.section('photos')
						.relatedTo({
							targetElement: entry.state.one(),
							field: 'state'
						})
						.id('not ' ~ entry.id)
						.limit(3)
						.all()
					%}

					{% if relatedEntries|length %}
						<div class="c-page-section">
							{% include '_components/atoms/heading.twig' with {
								"heading": {
									"classes": 'o-heading--h3',
        					"tag": 'h3',
									"text": "More from " ~ entry.state.one().title
								}
							} %}
							<div class="c-page-section__content">
								<div class="grid grid-cols-3 gap-5">
									{% for relatedEntry in relatedEntries %}
										<div class="col-span-1">
											{% include '_components/molecules/photo-block.twig' with {
												"photo": {
													"classes": 'c-photo-block--small',
													"image": relatedEntry.featuredImage.one(),
													"url": relatedEntry.url,
													"title": relatedEntry.title,
													"caption": relatedEntry.location,
													"transform": 'squareSmall'
												}
											} %}
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endif %}
						

				</div>
			</div>
		</div>
	</section>

{% endblock %}
