{% extends '_layouts/global.twig' %}
{% import '_components/atoms/image.twig' as img %}

{% block site %}

	{% set state = entry.state.one() %}

	<section class="c-photo-page c-page">
		<div class="c-photo-page-row space-y-12 container">
			
			<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-12 o-page-gap">
				<div class="sm:col-span-1 lg:col-span-6">
					
					<div class="c-photo">
						{% if entry.featuredImage.one() %}
							{% include '_components/molecules/photo-block.twig' with {
								"photo": {
									"classes": "c-photo-block--gallery has-lightbox-gallery",
									"image": entry.featuredImage.one(),
									"url": entry.featuredImage.one().url,
									"title": entry.featuredImage.one().title,
									"transform": 'medium',
									"caption": 'Expand',
									"target": "_blank",
									"icon": "expand",
									"attrs": {
										"data-pswp-width": entry.featuredImage.one().width ?? 1600,
										"data-pswp-height": entry.featuredImage.one().height ?? 1067,
										
									}
								}
							} %}
						{% endif %}
					</div>

				</div>
				
				<div class="sm:col-span-1 lg:col-span-6 space-y-8">
					<div class="space-y-4">
						<div class="space-y-3">
							{% include '_components/atoms/kicker.twig' with {
								kicker: {
									classes: 'text-gray-500',
									text: state,
								}
							} %}
							{% include '_components/atoms/heading.twig' with {
								"heading": {
									"text": entry.title
								}
							} %}
							
						</div>
						{% include '_components/molecules/post-teaser.twig' with {
							postTeaser: {
								classes: '',
								content: entry.postTeaser
							}
						} %}
					</div>
					

					{% include '_components/molecules/features.twig' with {
						columns: 3,
						features: [
							{
								title: 'Location',
								description: entry.location
							},
							{
								title: 'Date Taken',
								description: entry.dateTaken ? '<div class="test">' ~ entry.dateTaken|date('F j, Y') ~ '</div>' : ''
							},
							{
								title: 'Tags',
								description: [
									entry.state.one() ? entry.state.one().title : '',
									entry.season.one() ? entry.season.one().title : '',
									entry.genre.one() ? entry.genre.one().title : ''
								]|filter(v => v != '')|join(', ')
							}
						]
					} %}
					
					{% if entry.overview %}
						<div class="c-page-section c-photo-intro u-drop-cap">
							{{ entry.overview }}
						</div>
					{% endif %}

				</div>

			</div>

		
		</div>

		{% set relatedEntries = craft.entries()
			.section('photos')
			.relatedTo({ targetElement: entry.state.one(), field: 'state' })
			.id('not ' ~ entry.id)
			.limit(4)
			.all()
		%}

		{% include '_blocks/pageBuilderMediaGridBlock.twig' with {
			block: {
				pageBuilderOptionBackgroundColor: 'beige'
			},
			relatedEntries: relatedEntries,
			isFullColumn: true
		} %}

		
	</section>

{% endblock %}
