{% extends '_layouts/global' %}

{% block site %}

  <section class="c-page container">
    <div class="c-page-grid-container grid grid-cols-2 sm:grid-cols-18 gap-4">
      <div class="col-span-2 sm:col-span-16 sm:col-start-2 space-y-12">
        <div class="c-page-grid grid grid-cols-2 md:grid-cols-12 gap-[60px]">
          {% set leftColumnWidth = entry.leftColumnWidth|number %}
          {% set colMap = {
            4: 'md:col-span-4',
            5: 'md:col-span-5',
            6: 'md:col-span-6',
            7: 'md:col-span-7',
            8: 'md:col-span-8',
            9: 'md:col-span-9'
          } %}

          {# Check if leftColumnWidth is within the expected range and provide fallback if needed #}
          {% set leftColClass = colMap[leftColumnWidth] ?? 'lg:col-span-6' %}
          {% set rightColClass = colMap[12 - leftColumnWidth] ?? 'lg:col-span-6' %}

          <div class="c-page-left-column col-span-2 {{ leftColClass }}">
            <div class="c-page-left-column__inner space-y-7">
              {% for block in entry.leftColumnContent.all() %}
                {% include '_blocks/' ~ block.type ~ 'Block.twig' with { block: block } %}
              {% endfor %}
            </div>
          </div>

          <div class="c-page-right-column col-span-2 {{ rightColClass }}">
            <div class="c-page-right-column__inner space-y-7">
              {% for block in entry.rightColumnContent.all() %}
                {% include '_blocks/' ~ block.type ~ 'Block.twig' with { block: block } %}
              {% endfor %}
            </div>
          </div>

        </div>        
      </div>
    </div>
  </section>

  

{% endblock %}