{% extends '_layouts/global' %}

{% block site %}

  <section class="c-page">
    {% for row in entry.pageBuilder.all() %}
      {% if row.type == 'pageBuilderSplitContentRow' %}
        {% set leftColumnWidth = row.pageBuilderOptionLeftColumnWidth|number %}
        {% set colMap = { 
          4: ' lg:col-span-4',
          6: ' lg:col-span-6',
          8: ' lg:col-span-8',
          10: ' lg:col-span-10',
          12: ' lg:col-span-12'
        } %}

        {% set leftColClass = colMap[leftColumnWidth] ?? ' lg:col-span-8' %}
        {% set rightColClass = colMap[16 - leftColumnWidth] ?? ' lg:col-span-8' %}
        {% set sticky = row.pageBuilderOptionColumnStickiness ?? 'none' %}
        {% set leftStickyClass = sticky == 'leftColumn' ? ' sticky top-4' : '' %}
        {% set rightStickyClass = sticky == 'rightColumn' ? ' sticky top-4' : '' %}

        <div class="c-page-row c-page-row--split-content container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-16 o-page-gap">
          <div class="c-page-left-column col-span-1{{ leftColClass }}">
            <div class="c-page-left-column__inner{{ leftStickyClass }}">
              {% for block in row.pageBuilderLeftColumnContent.all() %}
                {% include '_blocks/' ~ block.type.handle ~ '/index.twig' with { block: block } %}
              {% endfor %}
            </div>
          </div>

          <div class="c-page-right-column col-span-1{{ rightColClass }}">
            <div class="c-page-right-column__inner{{ rightStickyClass }}">
              {% for block in row.pageBuilderRightColumnContent.all() %}
                {% include '_blocks/' ~ block.type.handle ~ '/index.twig' with { block: block } %}
              {% endfor %}
            </div>
          </div>
        </div>

      {% elseif row.type == 'pageBuilderFullContentRow' %}
        {% set blocks = row.pageBuilderFullColumnContent.all() %}
        <div class="c-page-row c-page-row--full-content space-y-10">
          {% for block in blocks %}
            {% set i = loop.index0 %}
            {% set currentColor = block.pageBuilderOptionBackgroundColor %}
            {% set prevColor = i > 0 ? blocks[i - 1].pageBuilderOptionBackgroundColor : null %}
            {% set nextColor = i < blocks|length - 1 ? blocks[i + 1].pageBuilderOptionBackgroundColor : null %}

            {% set isStacked = (currentColor == prevColor) or (currentColor == nextColor) %}
            {% set isStackStart = (currentColor != prevColor) and (currentColor == nextColor) %}
            {% set isStackEnd = (currentColor == prevColor) and (currentColor != nextColor) %}

            {% include '_blocks/' ~ block.type.handle ~ '/index.twig' with {
              block: block,
              parentMatrix: 'pageBuilderFullColumnContent',
              isStacked: isStacked,
              isStackStart: isStackStart,
              isStackEnd: isStackEnd
            } %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </section>

{% endblock %}
