{% extends '_layouts/base' %}

{% set extraClasses = hero is defined and hero.isFullBleed ? ['hero-is-full-bleed'] : [] %}

{% set bodyClass = (
    entry is defined
        ? (entry.section.handle is defined ? ['post-type-' ~ entry.section.handle] : [])
            |merge(entry.type.handle is defined ? ['type-' ~ entry.type.handle] : [])
            |merge(['page-' ~ entry.slug])
        : ['page-' ~ (craft.app.request.getSegment(1) ?: 'home')]
) 
|merge(currentUser ? ['logged-in'] : []) 
|merge(extraClasses) 
|join(' ') %}

{% set vars = {
	class: {
		siteMargin: {
			x: 'px-10',
			r: 'pr-10',
			l: 'pl-10'
		},
		gutter: {
			x: 'px-10',
			y: 'py-10',
			t: 'pt-10',
			r: 'pr-10',
			b: 'pb-10',
			l: 'pl-10'
		},
		gap: {
			x: 'gap-x-10',
			y: 'gap-y-10'
		}
	}
} %}

{% block body %}

	{# Global Site Header #}
    {% include '_components/global/header' %}

	<main
		class="c-site-container">
		{% block site %}
		{% endblock %}
	</main>
	
	{# Global Site Footer #}
    {% include '_components/global/footer' %}

{% endblock %}