// Import all SCSS files from atoms, molecules, and organisms
@use './vendor/_hamburgers';
@use './atoms/_button' as button;
@use './atoms/_dropdown';
@use './atoms/_form';
@use './atoms/_headings';
@use './atoms/_icon';
@use './atoms/_layout';
@use './atoms/_link';
@use './atoms/_logo';
@use './atoms/_text';
@use './atoms/_utility';
@use './molecules/_alert';
@use './molecules/_breadcrumb-bar';
@use './molecules/_card';
@use './molecules/_feature-box';
@use './molecules/_filter-box';
@use './molecules/_icon-group';
@use './molecules/_kicker';
@use './molecules/_nav';
@use './molecules/_page-block';
@use './molecules/_photo-block';
@use './molecules/_split-media';
@use './organisms/_featured-works';
@use './organisms/_footer';
@use './organisms/_gallery';
@use './organisms/_header';
@use './organisms/_hero';
@use './organisms/_homepage';
@use './organisms/_page';
@use './organisms/_photo-page';
@use './organisms/_portfolio';
@use './organisms/_slider';

// Dark mode styles
html.u-dark-mode {
  // transition: 0.15s all linear;

  body {
    color: #fff;
    background-color: black;
  }

  .bg-white {
    background-color: black;
  }
}

body {
  // transition: 0.15s all linear;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
