<footer class="c-footer-container w-full pt-8 pb-12 border-t border-lightgray bg-white">
  <div class="container space-y-12">
    <div class="c-footer mx-auto grid grid-cols-16 items-center justify-between">
      <!-- Left logo and name section -->
      <a href="/" class="c-logo col-span-4 flex items-center space-x-3">
        {% include '_components/atoms/icons/logo.svg' %}
        <h1 class="text-xs font-bold leading-3">
          Jacob Tarr <span class="text-red"><br>Photography.</span>
        </h1>
      </a>
      <nav class="c-footer__navigation col-span-12 flex justify-end items-center space-x-14">
        <a href="/about" class=" text-lg font-semibold hover:text-red">About</a>
        <a href="/portfolio" class=" text-lg font-semibold hover:text-red">Portfolio</a>
        <a href="/blog" class=" text-lg font-semibold hover:text-red">Blog</a>
        <a href="/contact" class=" text-lg font-semibold hover:text-red">Contact</a>
        <div class="">
          {% include '_components/atoms/button.twig' with {
            "button": {
              "url": '#top',
              "text": 'Back To Top'
            }
          } %}
        </div>
      </nav>
    </div>
    <div class="c-footer__bottom mx-auto grid grid-cols-16">
      <div class="col-span-16">
        <div class="text-sm">
          &copy; {{ now|date('Y') }} {{ siteName }}. All rights reserved.
        </div>
      </div>
    </div>
    
  </div>
  
</footer>