<header
  up-id="global-header"
  x-data="headerState" 
  x-init="init(); $watch('open', value => document.body.classList.toggle('mobile-menu-is-active', value))" 
  class="c-header w-full py-4 border-b border-lightgray bg-white">
  <div class="container mx-auto grid grid-cols-12 items-center justify-between">
    {% include '_components/atoms/logo.twig' with {
      logo: {
        classes: 'col-span-3'
      }
    } %}
    <nav class="c-header__desktop-navigation col-span-6 hidden md:flex justify-center">
      <a href="/about" up-target="main" @click="setActivePage('/about')" class="px-7 text-lg font-semibold hover:text-red" :class="{'text-red': isActive('/about')}">About</a>
      <a href="/portfolio" up-target="main" @click="setActivePage('/portfolio')" class="px-7 text-lg font-semibold hover:text-red" :class="{'text-red': isActive('/portfolio')}">Portfolio</a>
      <a href="/blog" up-target="main" @click="setActivePage('/blog')" class="px-7 text-lg font-semibold hover:text-red" :class="{'text-red': isActive('/blog')}">Blog</a>
      <a href="/contact" up-target="main" @click="setActivePage('/contact')" class="px-7 text-lg font-semibold hover:text-red" :class="{'text-red': isActive('/contact')}">Contact</a>
    </nav>

    <div class="c-header__mobile-wrapper space-x-8 md:space-x-0 col-span-9 md:col-span-3 flex justify-end items-center">
      <div class="c-header__icons">
        <button @click="toggleDarkMode()" class="text-black focus:outline-none">
          <template x-if="darkMode">
            {% include '_components/atoms/icons/icon-light-mode.svg' %}
          </template>
          <template x-if="!darkMode">
            {% include '_components/atoms/icons/icon-dark-mode.svg' %}
          </template>
        </button>
      </div>

      <div :class="{ 'is-active': open }" class="c-mobile-menu">
        <div class="c-hamburger md:hidden flex">
          <button 
            @click="open = !open"
            :class="{ 'is-active': open }"
            class="hamburger hamburger--squeeze"
            type="button"
            aria-label="Menu"
            aria-controls="navigation">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>

        {% set mobileLinkClasses = "text-4xl font-semibold text-white hover:text-red" %}

        <div
          x-show="open"
          x-transition.opacity.duration.150ms
          class="c-mobile-nav flex md:hidden">
          <div class="c-mobile-nav__inner container space-y-15">
            <ul class="c-mobile-nav__list space-y-2">
              <li>
                <a href="/about" @click="setActivePage('/about')" class="{{ mobileLinkClasses }}" :class="{'text-red': isActive('/about')}">About</a>
              </li>
              <li>
                <a href="/portfolio" @click="setActivePage('/portfolio')" class="{{ mobileLinkClasses }}" :class="{'text-red': isActive('/portfolio')}">Portfolio</a>
              </li>
              <li>
                <a href="/blog" @click="setActivePage('/blog')" class="{{ mobileLinkClasses }}" :class="{'text-red': isActive('/blog')}">Blog</a>
              </li>
              <li>
                <a href="/contact" @click="setActivePage('/contact')" class="{{ mobileLinkClasses }}" :class="{'text-red': isActive('/contact')}">Contact</a>
              </li>
            </ul>
            <div class="c-mobile-nav__footer space-y-2">
              {% include '_components/atoms/subheading.twig' with {
                "subheading": {
                  "tag": "h5",
                  "underline": false,
                  "highlightLast": false,
                  "text": 'Find me on Social Media:'
                }
              } %}
              <ul class="space-y-2">
                <li><a class="text-3xl font-bold leading-tight text-darkGrayOpposite hover:text-red" href="#">Instagram</a></li>
                <li><a class="text-3xl font-bold leading-tight text-darkGrayOpposite hover:text-red" href="#">Facebook</a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>

    </div>

    

    
  </div>
</header>
