{% extends '_blocks/_base/block.twig' %}

{% block blockContent %}
  {% set form = craft.formie.forms.handle(block.pageForm).one() %}
  {% if form %}
    {{ craft.formie.renderForm(form, {
      attributes: {
        'up-submit': 'false',
        'up-layer': 'root'
      }
    }) }}
  {% else %}
    <p>Form not found.</p>
  {% endif %}
{% endblock %}