{% extends '_layouts/global.twig' %}

{% block site %}

  <section class="c-landing-page">
  {# <pre style="font-size: 12px">
    {{ dump(entry.pageBuilderFullColumnContent.all()) }}
  </pre> #}
    {% set blocks = entry.pageBuilderFullColumnContent.all() %}

    {% for block in blocks %}
      {% set i = loop.index0 %}
      {% set currentColor = block.pageBuilderOptionBackgroundColor %}
      {% set prevColor = i > 0 ? blocks[i - 1].pageBuilderOptionBackgroundColor : null %}
      {% set nextColor = i < blocks|length - 1 ? blocks[i + 1].pageBuilderOptionBackgroundColor : null %}

      {% set isStacked = (currentColor == prevColor) or (currentColor == nextColor) %}
      {% set isStackStart = (currentColor != prevColor) and (currentColor == nextColor) %}
      {% set isStackEnd = (currentColor == prevColor) and (currentColor != nextColor) %}

      {% include '_blocks/' ~ block.type ~ '.twig' with {
        block: block,
        parentMatrix: 'pageBuilderFullColumnContent',
        isStacked: isStacked,
        isStackStart: isStackStart,
        isStackEnd: isStackEnd
      } %}
    {% endfor %}
  </section>

{% endblock %}