{% extends '_layouts/global.twig' %}

{% block site %}

  <section class="c-landing-page">
  {# <pre style="font-size: 12px">
    {{ dump(entry.pageBuilderFullColumnContent.all()) }}
  </pre> #}
    {% for block in entry.pageBuilderFullColumnContent.all() %}
      {% include '_blocks/' ~ block.type ~ '.twig' with {
        block: block,
        parentMatrix: 'pageBuilderFullColumnContent'
      } %}
    {% endfor %}
  </section>

{% endblock %}