{% extends '_layouts/global.twig' %}

{% block site %}
<section class="c-portfolio-page c-page container">
  <div class="space-y-12">
    {% include '_components/atoms/heading.twig' with {
      "heading": {
        "text": 'Portfolio'
      }
    } %}

    <!-- Sprig component for filters and photo grid -->
    {{ sprig('_components/sprig/photo-grid') }}

  </div>
</section>
{% endblock %}
