{% extends '_layouts/global.twig' %}

{% block site %}
<section class="c-portfolio-page c-page container">
  <div class="space-y-12">
    {% include '_components/atoms/heading.twig' with {
      "heading": {
        "text": 'Portfolio'
      }
    } %}

    <!-- Sprig component for filters and photo grid -->
    {{ sprig('_components/sprig/photo-grid', {
      offset: 0,
      limit: 6,
      state: '',
      season: [],
      genre: []
    }) }}

    {# {{ sprig('_components/sprig/test', {
      offset: 0,
      limit: 3
    }) }} #}

  </div>
</section>
{% endblock %}
