{% extends '_layouts/global.twig' %}

{% block site %}
<section class="c-portfolio-page c-page container">
  <div class="c-portfolio-page-grid grid grid-cols-18 gap-4">
    <div class="col-span-16 col-start-2 space-y-12">
      {% include '_components/atoms/heading.twig' with {
        "heading": {
          "text": 'Portfolio'
        }
      } %}

      <!-- Sprig component for filters and photo grid -->
      {{ sprig('_components/sprig/photo-grid') }}

    </div>
  </div>
</section>
{% endblock %}
