{% set additionalClasses = logo.classes is defined and logo.classes ? ' ' ~ logo.classes : '' %}

<a href="/" class="c-logo{{ additionalClasses }}">
  <div class="c-logo__image">
    {% include '_components/atoms/icons/logo.svg' %}
  </div>
  <h1 class="c-logo__text">
    Jacob Tarr <span class="text-red-500"><br>Photography.</span>
  </h1>
</a>