.c-filter-sidebar {
  @apply fixed top-0 left-0 h-full w-[80vw] px-5 pt-5 pb-8 md:px-0 md:pt-0 md:pb-0 bg-lighterGray md:bg-transparent md:h-auto md:static md:block md:col-span-1 space-y-5 z-[100];

  @media (min-width: 768px) {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    transform: none !important;
    width: auto !important;
  }

  html.u-dark-mode & {
    @apply bg-offBlack;
  }
}

.c-filter-box {
  @apply md:px-5 md:pt-5 pb-8 md:bg-lighterGray space-y-8 md:space-y-0;

  &__mobile-nav {
    @apply flex justify-between items-center md:hidden;
  }
}

.c-filter-sections {
  @apply space-y-8 md:space-y-10;
}

.c-filter-section {
  &__title {
    @apply text-sm font-bold text-darkGray pb-2 border-b border-lightGray;

    html.u-dark-mode & {
      @apply border-offBlack;
    }
  }
}
