.o-kicker {
  @apply uppercase tracking-widest text-xs md:text-sm font-founders font-semibold leading-4
  flex items-center gap-3;

  &--slider-mobile {
    @apply flex text-sm sm:hidden;
  }

  &--slider-desktop {
    @apply hidden sm:flex;
  }

  svg {
    @apply w-4;

    path {
      @apply fill-beige-base+2;

      .c-page-block--bg-beige & {
        @apply fill-beige-base+2;
      }
    }
  }

  .c-page-block--bg-black &,
  &--beige {
    @apply text-beige-base;
  }

  .c-page-block--bg-beige & {
    @apply text-beige-base+2;
  }

  &--swapped-text {
    @apply relative left-5 min-w-[70vw];
  }

  &__animated-text {
    @apply top-1/2 -translate-y-1/2 absolute left-0 inline-block opacity-0 invisible;

    .has-interacted & {
      transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }

    &.is-initial {
      @apply -translate-y-1/2 opacity-0 invisible transition-none;
    }

    &.is-active {
      @apply -translate-y-1/2 opacity-100 visible;
    }

    &.is-hidden-up {
      transform: translateY(calc(-50% - 20px));

      @apply opacity-0 invisible;
    }

    &.is-hidden-down {
      transform: translateY(calc(-50% + 20px));
      
      @apply opacity-0 invisible;
    }
  }
}
