.c-photo-block {
  position: relative;
  overflow: hidden;
  display: flex;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
  }

  &__caption {
    position: absolute;
    font-weight: 700;
    color: #fff;
    bottom: 12.5px;
    left: 0;
    padding: 0 20px;
    z-index: 5;
    width: 100%;
    line-height: 1.25;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
    clip-path: inset(100% 0 0 0);
    
    span {
      display: inline;
      align-items: center;
      vertical-align: middle;
    }
    
    svg {
      display: inline;
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
  }

  &:hover {
    &::before {
      opacity: 1;
      visibility: visible;
    }

    .c-photo-block__caption {
      opacity: 1;
      visibility: visible;
      clip-path: inset(0 0 0 0);
      transition: 0.4s ease-in-out 0.2s;
    }

    img {
      &.is-loaded {
        transform: scale(1.05);
      }
    }
  }

  &:not(:hover) {
    &::before {
      transition-delay: 0.2s;
    }

    .c-photo-block__caption {
      opacity: 0;
      visibility: hidden;
      clip-path: inset(100% 0 0 0);
      transition-delay: 0s;
    }
  }

  img {
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.6s ease-in-out;
    transform: scale(1);

    &.is-loaded {
      opacity: 1;
    }
  }

  &--gallery {
    height: 100%;

    .c-photo-block__caption {
      text-align: right;
      padding: 0 12.5px 0 20px;
      @apply text-sm font-sans;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  &--small {
    .c-photo-block__caption {
      font-size: 12px;
      padding: 0 10px;

      svg {
        width: 15px;
        height: 15px;
        margin-left: 5px;
      }
    }
  }
}