{% set handle = block.type.handle|replace({'pageBuilder': '', 'Block': ''})|kebab %}
<div class="c-page-block c-page-block--{{ handle }}{{ additionalClasses|default('') ? ' ' ~ additionalClasses : '' }}">
  {% block pageBlockContent %}
  {% endblock %}
</div>