@reference "tailwindcss";
@reference "@css/tokens.css";

.c-select-container {
  @apply overflow-hidden relative flex justify-center items-center gap-3 cursor-pointer
          bg-gray-100 text-gray-700 p-0
          rounded-full
          transition-all;

  &:hover, &:focus {
    @apply border-gray-900 bg-gray-900 outline-none text-white;

    .c-select__arrow {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}

@media (max-width: calc(theme(screens.md) - 1px)) {
  .c-select--mobile-toggle {
    @apply
      h-12 bg-transparent w-full rounded-none;

    .c-select {
      @apply h-full font-semibold leading-4 w-full
      uppercase tracking-widest text-xs font-founders;
    }

    &:hover,
    &:focus {
      @apply bg-transparent text-inherit;

      .c-select__arrow {
        svg path {
          fill: initial;
          stroke: initial;
        }
      }
    }
  }
}


.c-select--sort-by {
  .c-select {
    @apply md:pr-[55px];
  }

  .c-select__arrow {
    right: 20px;
  }
}

.c-select {
  @apply appearance-none outline-none block cursor-pointer w-auto px-4 py-3 md:px-5
  bg-transparent border-0
  text-sm md:text-[15px] font-medium leading-4;
}

.c-select__arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}