<div class="c-page-section c-callout-box">
  <div class="c-callout-box__grid grid lg:grid-cols-{{ calloutBox.columns|default(3) }} gap-x-5 gap-y-10">
    {% for column in calloutBox.calloutBoxColumns %}
      <div class="c-callout-box__col col-span-{{ column.colSpan|default('1') }}">
        <div class="c-callout-box__col-title">
          {{ column.title }}
        </div>
        <div class="c-callout-box__col-desc mt-4 space-y-5">
          <div class="o-rte font-serif leading-5">{{ column.description|raw }}</div>
          {% if column.pageButtons is defined and column.pageButtons|length > 0 %}
            <div class="flex flex-wrap gap-5">
              {% for button in column.pageButtons %}
                {% include '_components/atoms/button.twig' with {
                  "button": {
                    "url": button.url,
                    "text": button.text,
                    "target": button.target
                  }
                } %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
