<div class="c-feature-boxes grid lg:grid-cols-{{ boxes|default(3) }} gap-4">
  {% for box in featureBoxes %}
    <div class="c-feature-box col-span-{{ box.colSpan|default('1') }}">
      {% include '_components/molecules/kicker.twig' with {
        kicker: {
          icon: attribute(box, 'icon') ?? null,
          text: box.title,
          classes: 'c-feature-box__title'
        }
      } %}
      <div class="c-feature-box__content space-y-5">
        <div class="o-rte font-sans font-medium leading-4">{{ box.description|raw }}</div>
        {% set link = box.contentLink is defined and box.contentLink|length ? box.contentLink[0] : null %}
        {% if link %}
          <div class="flex flex-wrap gap-5">
            {% include '_components/atoms/button.twig' with {
              button: {
                url: link.linkValue,
                text: link.linkText,
                target: link.target
              }
            } %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
