{% import '_components/atoms/image.twig' as img %}
{% set image = hero.image ?? null %}
{% set heading = hero.heading ?? null %}
{% set headingClasses = hero.headingClasses is defined and hero.headingClasses ? '' ~ hero.headingClasses : '' %}
{% set secondary_heading = hero.secondary_heading ?? null %}
{% set text = hero.text ?? null %}
{% set link = hero.link ?? null %}
{% set isFullBleed = hero.isFullBleed ?? false %}
{% set imgTransform = hero.imgTransform ?? null %}
{% set additionalClasses = hero.classes is defined and hero.classes ? ' ' ~ hero.classes : '' %}

<div class="c-hero{{ additionalClasses }}{{ isFullBleed ? ' c-hero--full-bleed' : '' }}">
  <div class="c-hero__image">
    {{ img.renderImage(image, 600, 1600, heading, imgTransform, false) }}

    {% if isFullBleed %}
      <div class="c-hero__heading c-hero__heading--mobile">
        {% include '_components/atoms/heading.twig' with {
          heading: {
            classes: headingClasses,
            text: heading|raw,
            underline: false
          }
        } %}
      </div>
    {% endif %}
    
  </div>
  <div class="c-hero__content-wrapper">
    <div class="c-hero__container container">
      <div class="c-hero__content md:space-y-6">
        <div class="c-hero__heading">
          {% include '_components/atoms/heading.twig' with {
            heading: {
              classes: headingClasses ~ (isFullBleed ? ' hidden md:block' : ''),
              text: heading|raw,
              underline: false
            }
          } %}
          {% if secondary_heading %}
            {% include '_components/atoms/heading.twig' with {
              heading: {
                text: secondary_heading,
                underline: false,
                tag: 'h2',
                classes: 'o-heading--secondary o-heading--h1 text-red-500'
              }
            } %}
          {% endif %}
        </div>
        {% if text %}
          {% include '_components/atoms/rich-text.twig' with {
            richText: {
              classes: 'c-hero__text',
              content: text
            }
          } %}
        {% endif %}
      </div>

      {% if link %}
        <div class="c-hero__button-wrapper">
          {% include '_components/button/button.twig' with {
            "button": {
              "classes": 'o-button--secondary--white o-button--secondary--large',
              "variant": 'secondary',
              "url": link.url,
              "text": link.text,
              "target": link.target
            }
          } %}
        </div>
      {% endif %}
      
      
      
    </div>
    
  </div>
</div>