{% import '_components/atoms/image.twig' as img %}
{% set additionalClasses = photo.classes is defined and photo.classes ? ' ' ~ photo.classes : '' %}

<a href="{{ photo.url }}" class="c-photo-block{{ additionalClasses }}">
  {{ img.renderImage(photo.image, 800, 1600, photo.title, photo.transform|default(null)) }}
 
  {% if photo.location is not empty %}
    <p class="c-photo-block__caption font-serif">
      <span>{{ photo.location }}</span>
      {% include '_components/atoms/icons/icon-pointer-arrow.svg' %}
    </p>
  {% endif %}
</a>
